.first{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5%;
    row-gap: 5px;
    border: 10px solid #d9c2a3;
 transition: transform .5s;
 box-shadow: 5px 5px 10px #6f7364;

 

}
.first:hover{

    opacity: 4;
 transform: scale(1.1);

}
  


h1{
    background-color: red;
}
h1,nav{
    text-align: center;
}

nav{
    background-color:yellowgreen;
    
    font-size: 45px;
    padding-top: 0;
    
    
}

.main_logo{
    background-color: orangered;



}
p{
    font-size: 30px;
    text-align: center;
}

body{
    background-color: beige;
}

footer{
    background-color: black;
}
nav:hover{
    background-color: pink;
    color: red;
}
.Home:hover{
    background-color:blue ;
    color: black;
    
}

.History:hover{
    background-color:blue ;
    color: black;

}
.Gallery:hover{
    background-color:blue ;
    color: black;

}

.contact:hover{
    background-color:blue ;
    color: black;
}

.info{
    color: white;
}
.media{
    color: white;
}

.face{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
h3:hover,h2:hover{
    color: black;
    background-color: white;

}

header{
    display: grid;
    grid-template-columns: 150px auto;
}

#active{
    z-index: 1;
}

